<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' />
    <style media="screen">
      ul li{

         line-height:40px;
      }
    </style>

  </head>
  <body>
    <ng-view></ng-view>
    <!-- Libraries -->
    <script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Template -->
   <script type="text/ng-template" id="/todos.html">
     <label for="txtSearch">Name</label>
     <input type="text"  class="form-control" id="txtSearch"  placeholder="请输入搜索条件" ng-model="search.name">
     <ul>
        <li ng-repeat="todo in todos | filter: search">
          <input  type="checkbox" ng-model="todo.completed" ng-change="update($index)">
          <a ng-show="!editing[$index]" href="#/{{todo._id}}">{{todo.name}}</a>
          <button ng-show="!editing[$index]" ng-click="edit($index)" class="btn btn-default">edit</button>
          <button ng-show="!editing[$index]" ng-click="remove($index)" class="btn btn-danger">remove</button>
          <input ng-show="editing[$index]" class="form-control" type="text" ng-model="todo.name">
          <button ng-show="editing[$index]" ng-click="update($index)" class="btn btn-primary">Update</button>
          <button ng-show="editing[$index]" ng-click="cancel($index)" class="btn btn-warning">Cancel</button>
       </li>
     </ul>
     <div class="form-inline" >
     New Task <input type="text" class="form-control"  ng-model="newTodo" />
     <button type="button" ng-click="save()" class="btn btn-primary" name="button">Create</button>
     </div>

   </script>

   <script type="text/ng-template" id="/todoDetails.html">
     <h1>{{ todo.name }}</h1>
     completed:
     <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="todo.completed"><br>
      </label>
     </div>

     note: <textarea class="form-control" rows="3"  ng-model="todo.note"></textarea>
     <button ng-click="update()" class="btn default">update</button>
     <button ng-click="remove()" class="btn danger">remove</button>
     <a href="/" role="button" class="btn warning" role="button">Cancel</a>
   </script>






   <script>
     angular.module('app', ['ngRoute','ngResource'])

       //---------------
       // Services
       //---------------

       .factory('Todos', ['$resource',function($resource){
         return $resource('/todos/:id',null,{update:{method:'PUT'}});
       }])

       //---------------
       // Controllers
       //---------------

       .controller('TodoController', ['$scope', 'Todos', function ($scope, Todos) {
           $scope.editing = [];
           $scope.todos = Todos.query();

           $scope.save = function(){
             if (!$scope.newTodo || $scope.newTodo.length<1) return;
             var todo = new Todos({name:$scope.newTodo,completed:false});
             todo.$save(function(){
               $scope.todos.push(todo);
               $scope.newTodo = "";  //clear textbox
             });
           }
           $scope.update = function(index){
             var todo = $scope.todos[index];
             var updateId = todo._id;
             //delete _id
             //delete todo._id;
             Todos.update({id:updateId},todo);
             $scope.editing[index] = false;
           }

           $scope.edit = function(index){
             $scope.editing[index] = angular.copy($scope.todos[index]);
           }

           $scope.cancel = function(index){
             $scope.todos[index] = angular.copy($scope.editing[index]);
             console.log($scope.todos[index]);
              $scope.editing[index] = false;
              console.log($scope.editing[index]);
           }

           $scope.remove = function(index){
             var todo = $scope.todos[index];
             Todos.remove({id:todo._id},function(){
               $scope.todos.splice(index, 1);
             });
           }


       }])

       .controller('TodoDetailCtrl', ['$scope', '$routeParams', 'Todos','$location', function ($scope, $routeParams, Todos,$location) {
         $scope.todo = Todos.get({id:$routeParams.id});
         $scope.update = function(){
           Todos.update({id:$scope.todo._id},$scope.todo,function(){
             $location.url('/');
           });
         }
         $scope.remove = function(){
            Todos.remove({id: $scope.todo._id}, function(){
            $location.url('/');
          });
         }
       }])

       //---------------
       // Routes
       //---------------

       .config(['$routeProvider', function ($routeProvider) {
         $routeProvider
           .when('/', {
             templateUrl: '/todos.html',
             controller: 'TodoController'
           })

           .when('/:id', {
             templateUrl: '/todoDetails.html',
             controller: 'TodoDetailCtrl'
          });
       }]);
   </script>
  </body>
</html>
